### Maven ##
/mvnw
/mvnw.cmd
target
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other ###
.jar
.class
.DS_Store
.log
*.log
*.log.*
.metadata
spec/api.json
node_modules/
